<?xml version="1.0" encoding="utf-8"?>
<ActuatorConfigs LittleEndian="false" TransformsCount="2" Length="48" BoardName="CounterBalanced">
  <GPIOSwitchActuator InverseLevel="true">
    <OutputSwitchValue TorqueOff="0" />
    <BitDisplays>
      <BitDisplay Index="0" Text="GPIO下发" Row="7" Column="5" />
    </BitDisplays>
  </GPIOSwitchActuator>
  <DataHeader Length="1" />
  <!--NullActuator Length="4" /-->
  <MoveDevice MaxControl="8000" Still="0" MinControl="-8000" ForwardPoly="828.76,12" BackwardPoly="826.76,-12" />
  <NullActuator Length="2" />
  <!--MoveDevice Function="LF" MaxControl="8000" Still="0" MinControl="-8000" ForwardPoly="2311.76,0" BackwardPoly="2311.76,0" /-->
  <SteeringDevice RareDown="false" RareReverse="false" Function="LF" MaxChange="10000" MaxControl="12000" MinControl="-12000" Poly="5728.493,80" MaxValue="12000" />
  <!-- E35车型 -->
  <SteeringDevice RareDown="false" RareReverse="false" Function="RF" MaxChange="10000" MaxControl="12000" MinControl="-12000" Poly="5728.493,-82" MaxValue="12000" />
  <!-- E35车型 -->
  <!--SteeringDevice MaxControl="9000" MinControl="-9000" Poly="5729.578,0" Maxvalue="1.57" /-->
  <!--SteeringDevice Function="LF" MaxControl="9000" MinControl="-9000" Poly="5729.578,0" Maxvalue="1.57" /-->
  <!--SteeringDevice Function="RF" MaxControl="9000" MinControl="-9000" Poly="5729.578,0" Maxvalue="1.57" /-->
  <!--SteeringDevice Function="LR" MaxControl="9000" MinControl="-9000" Poly="5729.578,0" Maxvalue="1.57" /-->
  <!--SteeringDevice Function="RR" MaxControl="9000" MinControl="-9000" Poly="5729.578,0" Maxvalue="1.57" /-->
  <NullActuator Length="6" />
  <ForkDevice Function="Z" MaxControl="4000" Still="0" MinControl="-200" PositivePoly="8936.44,3" NegativePoly="273.22,-80" />
  <NullActuator Length="2" />
  <!--ForkDevice Function="X" MaxControl="100" Still="0" MinControl="-100" PositivePoly="164,0" NegativePoly="164,0" /-->
  <ForkDevice Function="Y" MaxControl="4000" Still="0" MinControl="-4000" PositivePoly="2200,100" NegativePoly="2200,-100" />
  <ForkDevice Function="C" MaxControl="4000" Still="0" MinControl="-4000" PositivePoly="4608.11,1" NegativePoly="4236.97,-1" />
  <ForkDevice Function="P" MaxControl="4000" Still="0" MinControl="-4000" PositivePoly="-3569,-40" NegativePoly="-3568,40" />
  <NullActuator Length="2" />
  <!--ForkDevice Function="R" MaxControl="100" Still="0" MinControl="-100" PositivePoly="164,0" NegativePoly="164,0" /-->
  <SwitchActuator Length="10">
    <OutputSwitchValue TorqueOff="0" Shutdown="1" Brake="2" Charging="3" TOFCamera="5" LightLeftR="8" LightLeftY="10" LightLeftG="12" LightRightG="13" LaserLeft1="28" LaserLeft2="29" LaserLeft3="30" LaserLeft4="31" LaserRight1="33" LaserRight2="34" LaserRight3="35" LaserRight4="36" LowLayerStopReset="64" Parking="66" DisableLaser="67" DisableAutoRestart="68" MuteLoadError="69" MuteForkEnd="70" MuteAllSafety="71" />
    <BitDisplays>
      <BitDisplay Index="0" Text="原车断电" />
      <BitDisplay Index="1" Text="跳闸" />
      <BitDisplay Index="2" Text="抱闸" />
      <BitDisplay Index="3" Text="充电使能" />
      <BitDisplay Index="5" Text="TOF相机同步" />
      <BitDisplay Index="8" Text="红灯" />
      <BitDisplay Index="10" Text="黄灯" />
      <BitDisplay Index="12" Text="左绿灯" />
      <BitDisplay Index="13" Text="右绿灯" />
      <BitDisplay Index="28" Text="左激光1" />
      <BitDisplay Index="29" Text="左激光2" />
      <BitDisplay Index="30" Text="左激光3" />
      <BitDisplay Index="31" Text="左激光4" />
      <BitDisplay Index="33" Text="右激光1" />
      <BitDisplay Index="34" Text="右激光2" />
      <BitDisplay Index="35" Text="右激光3" />
      <BitDisplay Index="36" Text="右激光4" />
      <BitDisplay Index="64" Text="安全锁定复位" />
      <BitDisplay Index="66" Text="驻车" />
      <BitDisplay Index="67" Text="禁用激光" />
      <BitDisplay Index="68" Text="禁止自启区域" />
      <BitDisplay Index="69" Text="装卸货物中" />
      <BitDisplay Index="70" Text="禁用叉尖" />
      <BitDisplay Index="71" Text="禁用所有安全" />
    </BitDisplays>
  </SwitchActuator>
  <DataIndex DisplayIndex="17" />
  <MCUDataIndexReturn />
  <DataCRC />
  <DataTail Length="1" />
  <LightActuatorTransform />
  <LaserActuatorTransform />
  <SerialSoundPlayer PortName="com2" BaudRate="9600">
    <SoundAndData Sound="0" Data="01060003000079CA" />
    <SoundAndData Sound="1" Data="010600030001B80A" />
    <SoundAndData Sound="2" Data="010600030002F80B" />
    <SoundAndData Sound="3" Data="01060003000339CB" />
    <SoundAndData Sound="4" Data="0106000300047809" />
    <SoundAndData Sound="5" Data="010600030005B9C9" />
    <SoundAndData Sound="6" Data="010600030006F9C8" />
    <SoundAndData Sound="7" Data="0106000300073808" />
    <SoundAndData Sound="8" Data="010600030008780C" />
  </SerialSoundPlayer>
</ActuatorConfigs>