<?xml version="1.0" encoding="utf-8"?>
<ActuatorConfigs LittleEndian="false" TransformsCount="2" Length="52" BoardName="CounterBalanced">
  <GPIOSwitchActuator InverseLevel="true">
    <OutputSwitchValue TorqueOff="0" />
    <BitDisplays>
      <BitDisplay Index="0" Text="GPIO下发" Row="7" Column="5" />
    </BitDisplays>
  </GPIOSwitchActuator>
  <DataHeader Length="1" />
  <MoveDevice MaxControl="8000" Still="0" MinControl="-8000" ForwardPoly="2311.76,0" BackwardPoly="2311.76,0" />
  <NullActuator Length="2" />
  <NullActuator Length="2" />
  <NullActuator Length="2" />
  <SteeringDevice RareDown="false" RareReverse="false" Function="LF" MaxChange="10000" MaxControl="12000" MinControl="-12000" Poly="5728.493,31" MaxValue="12000" /><!-- E35车型 -->
  <SteeringDevice RareDown="false" RareReverse="false" Function="RF" MaxChange="10000" MaxControl="12000" MinControl="-12000" Poly="5728.493,31" MaxValue="12000" /><!-- E35车型 -->
  <NullActuator Length="2" />
  <NullActuator Length="2" />
  <ForkDevice Function="Z" MaxControl="4000" Still="0" MinControl="-200" PositivePoly="164,0" NegativePoly="164,0" />
  <NullActuator Length="2" />
  <NullActuator Length="2" />
  <NullActuator Length="2" />
  <ForkDevice Function="P" MaxControl="4000" Still="0" MinControl="-4000" PositivePoly="164,0" NegativePoly="164,0" />
  <NullActuator Length="2" />
  <NullActuator Length="2" />
  <SwitchActuator Length="10">
    <OutputSwitchValue TorqueOff="0" Shutdown="1" Brake="2" Charging="3" 
					   LightLeftR="8" LightLeftY="10" LightLeftG="12" LightRightG="13" 

					   LaserLeft1="23" LaserLeft2="24" LaserLeft3="25" LaserLeft4="26" 
					   LaserRight1="28" LaserRight2="29" LaserRight3="30" LaserRight4="31" 

					   LowLayerStopReset="64" HeightCoderReset="65" Parking="66" DisableLaser="72" DisableAutoRestart="73" MuteLoadError="74" MuteForkEnd="75" MuteAllSafety="76" />
    <BitDisplays>
      <BitDisplay Index="0" Text="原车断电" />
      <BitDisplay Index="1" Text="跳闸" />
      <BitDisplay Index="2" Text="抱闸" />
      <BitDisplay Index="3" Text="充电使能" />
	  
      <BitDisplay Index="8" Text="红灯" />
      <BitDisplay Index="10" Text="黄灯" />
      <BitDisplay Index="12" Text="左绿灯" />
      <BitDisplay Index="13" Text="右绿灯" />

	  <BitDisplay Index="23" Text="左激光1" />
	  <BitDisplay Index="24" Text="左激光2" />
	  <BitDisplay Index="25" Text="左激光3" />
	  <BitDisplay Index="26" Text="左激光4" />

	  <BitDisplay Index="28" Text="右激光1" />
	  <BitDisplay Index="29" Text="右激光2" />
	  <BitDisplay Index="30" Text="右激光3" />
	  <BitDisplay Index="31" Text="右激光4" />	
	  
      <BitDisplay Index="64" Text="安全锁定复位" />
      <BitDisplay Index="65" Text="高度初始化" />
	  <BitDisplay Index="66" Text="驻车" />
	  <BitDisplay Index="72" Text="禁用激光" />
	  <BitDisplay Index="73" Text="禁止自启区域" />
	  <BitDisplay Index="74" Text="装卸货物中" />
	  <BitDisplay Index="75" Text="禁用叉尖" />
	  <BitDisplay Index="76" Text="禁用所有安全" />
    </BitDisplays>
  </SwitchActuator>
  <DataIndex DisplayIndex="17" />
  <MCUDataIndexReturn />
  <DataCRC />
  <DataTail Length="1" />
  <LightActuatorTransform />
  <LaserActuatorTransform />
  <SerialSoundPlayer PortName="com2" BaudRate="9600">
    <SoundAndData Sound="0" Data="01060003000079CA" />
    <SoundAndData Sound="1" Data="010600030001B80A" />
    <SoundAndData Sound="2" Data="010600030002F80B" />
    <SoundAndData Sound="3" Data="01060003000339CB" />
    <SoundAndData Sound="4" Data="0106000300047809" />
    <SoundAndData Sound="5" Data="010600030005B9C9" />
    <SoundAndData Sound="6" Data="010600030006F9C8" />
    <SoundAndData Sound="7" Data="0106000300073808" />
    <SoundAndData Sound="8" Data="010600030008780C" />
  </SerialSoundPlayer>
</ActuatorConfigs>