<?xml version="1.0" encoding="utf-8"?>
<ActuatorConfigs LittleEndian="false" TransformsCount="2" Length="34">
  <!--<GPIOSwitchActuator InverseLevel="true">
    <OutputSwitchValue TorqueOff="0" />
    <BitDisplays>
      <BitDisplay Index="0" Text="GPIO下发" Row="6" Column="7" />
    </BitDisplays>
  </GPIOSwitchActuator>-->
  <DataHeader Length="1" />
  <MoveDevice MaxAdd="10000" MaxMinse="10000" MaxControl="4000" MinControl="-4000" ForwardPoly="1832.23,20" BackwardPoly="1845.81,4" Still="0" />
  <SteeringDevice RareDown="false" RareReverse="true" MaxChange="10000" MaxControl="9000" MinControl="-9000" Poly="-5730.118,-64" Maxvalue="1.57" />
  <ForkDevice Function="Z" MaxChange="10000" MaxControl="100" Still="0" MinControl="-200" PositivePoly="502.772,12" NegativePoly="305.600,-39"  />
  <NullActuator Length="2" />
  <NullActuator Length="2" />
  <NullActuator Length="2" />
  <ForkDevice Function="P" MaxChange="10000" MaxControl="100" Still="0" MinControl="-100" PositivePoly="164,0" NegativePoly="164,0" />
  <NullActuator Length="2" />
  <SwitchActuator Length="10">
    <!--CameraLedDown=“3” CameraOutputDown=“7” LaserLeft1="16" LaserLeft2="17" LaserLeft3="18" LaserLeft4="19" LaserLeft5="20" 
	  LaserRight1="21" LaserRight2="22" LaserRight3="23" LaserRight4="24" LaserRight5="25" LaserFront1="26" LaserFront2="27" LaserFront3="28" LaserFront4="29" LaserFront5="30"
		-->
    <OutputSwitchValue TorqueOff="0" Shutdown="1" CameraLedUp="2" Brake="4" Charging="5" CameraOutputUp="6" LightLeftR="8" LightLeftY="9" LightLeftG="10" LightRightG="11" Floodlight="14" LaserLeft1="16" LaserLeft2="17" LaserLeft3="18" LaserLeft4="19" LaserLeft5="20" LaserRight1="21" LaserRight2="22" LaserRight3="23" LaserRight4="24" LaserRight5="25" LowLayerStopReset="64" Parking="65" DisableLaser="66" DisableAutoRestart="67" MuteLoadError="68" SteeringCoderReset="73" HeightCoderReset="74" />
    <BitDisplays>
      <BitDisplay Index="0" Text="原车断电" />
      <BitDisplay Index="1" Text="跳闸使能" />
      <BitDisplay Index="2" Text="上视补光灯" />
      <BitDisplay Index="3" Text="下视补光灯" />
      <BitDisplay Index="4" Text="抱闸使能" />
      <BitDisplay Index="5" Text="充电使能" />
      <BitDisplay Index="6" Text="上视相机同步" />
      <BitDisplay Index="7" Text="下视相机同步" />
      <BitDisplay Index="8" Text="红灯" />
      <BitDisplay Index="9" Text="黄灯" />
      <BitDisplay Index="10" Text="左绿灯" />
      <BitDisplay Index="11" Text="右绿灯" />
      <BitDisplay Index="12" Text="左转弯灯" />
      <BitDisplay Index="13" Text="右转弯灯" />
      <BitDisplay Index="14" Text="铺路灯" />
      <BitDisplay Index="15" Text="堆叠相机照明灯" />
      <BitDisplay Index="16" Text="左激光1" />
      <BitDisplay Index="17" Text="左激光2" />
      <BitDisplay Index="18" Text="左激光3" />
      <BitDisplay Index="19" Text="左激光4" />
      <BitDisplay Index="20" Text="左激光5" />
      <BitDisplay Index="21" Text="右激光1" />
      <BitDisplay Index="22" Text="右激光2" />
      <BitDisplay Index="23" Text="右激光3" />
      <BitDisplay Index="24" Text="右激光4" />
      <BitDisplay Index="25" Text="右激光5" />
      <BitDisplay Index="26" Text="前激光1" />
      <BitDisplay Index="27" Text="前激光2" />
      <BitDisplay Index="28" Text="前激光3" />
      <BitDisplay Index="29" Text="前激光4" />
      <BitDisplay Index="30" Text="前激光5" />
      <BitDisplay Index="31" Text="后激光1" />
      <BitDisplay Index="32" Text="后激光2" />
      <BitDisplay Index="33" Text="后激光3" />
      <BitDisplay Index="34" Text="后激光4" />
      <BitDisplay Index="35" Text="后激光5" />
      <BitDisplay Index="36" Text="货叉举升" />
      <BitDisplay Index="37" Text="货叉下降" />
      <BitDisplay Index="38" Text="货叉左移" />
      <BitDisplay Index="39" Text="货叉右移" />
      <BitDisplay Index="64" Text="安全锁定复位" />
      <BitDisplay Index="65" Text="驻车" />
      <BitDisplay Index="66" Text="禁用激光" />
      <BitDisplay Index="67" Text="禁止自启区域" />
      <BitDisplay Index="68" Text="装卸货物中" />
      <BitDisplay Index="69" Text="备用" />
      <BitDisplay Index="70" Text="备用" />
      <BitDisplay Index="71" Text="备用" />
    </BitDisplays>
  </SwitchActuator>
  <DataIndex DisplayIndex="17" />
  <DataCRC />
  <DataTail Length="1" />
  <LightActuatorTransform />
  <LaserActuatorTransform />
  <SerialSoundPlayer PortName="service" BaudRate="9600">
    <SoundAndData Sound="0" Data="01060003000079CA" />
    <SoundAndData Sound="1" Data="010600030001B80A" />
    <SoundAndData Sound="2" Data="010600030002F80B" />
    <SoundAndData Sound="3" Data="01060003000339CB" />
    <SoundAndData Sound="4" Data="0106000300047809" />
    <SoundAndData Sound="5" Data="010600030005B9C9" />
    <SoundAndData Sound="6" Data="010600030006F9C8" />
    <SoundAndData Sound="7" Data="0106000300073808" />
    <SoundAndData Sound="8" Data="010600030008780C" />
    <SoundAndData Sound="101715968" Data="01060003005079F6" />
    <SoundAndData Sound="101715969" Data="010600030051B836" />
    <SoundAndData Sound="101715970" Data="010600030052F837" />
    <SoundAndData Sound="101715971" Data="01060003005339F7" />
    <SoundAndData Sound="101715972" Data="0106000300547835" />
    <SoundAndData Sound="101715973" Data="010600030055B9F5" />
    <SoundAndData Sound="101715974" Data="010600030056F9F4" />
    <SoundAndData Sound="101715975" Data="0106000300573834" />
    <SoundAndData Sound="101715976" Data="0106000300587830" />
    <SoundAndData Sound="101715977" Data="010600030059B9F0" />
    <SoundAndData Sound="101715978" Data="01060003005AF9F1" />
    <SoundAndData Sound="101715979" Data="01060003005B3831" />
  </SerialSoundPlayer>
</ActuatorConfigs>
