<?xml version="1.0" encoding="utf-8"?>
<SencerConfigs Length="105" DataAdapter="Ncom1@115200" Frequency="100" Timeout="15">
  <DataHeader Length="1" />
  <VelocityControlLevel DisplayName="限速等级" />
  <NullSencer Length="2" /><!--霍尔-->
  <!--<RPMSensor Function="M" Signed="true" Magnification="0.000135178" DisplayEnable="true" />--><!--电机RPM-->
  <WheelCoder Magnification="0.000166680044501467" LeftScale="0.5" WheelBase="0.927231508674091" RightScale="0.5" UseRPM="true" /><!--E35专用-->
  <!--<WheelCoder Magnification="0.000166680044501467" LeftScale="0.5" WheelBase="0.927231508674091" RightScale="0.5" VirtualShaftLength="1" />--><!--左右从动轮编码器-->
  <IncrementalSteeringCoder Function="LF" Magnification="0.000174533" SteeringZero="0" DisplayName="转向角度反馈" />
  <IncrementalSteeringCoder Function="RF" Magnification="0.000174533" SteeringZero="0" DisplayName="转向角度反馈" />
  <NullSencer Length="2" /><!--转向反馈3-->
  <NullSencer Length="2" /><!--转向反馈4-->
  <NullSencer Length="2" /><!--虚拟中心角度反馈-->
  <HeightCoder Is32Bit="true" Signed="true" Magnification="4.99573969103028E-05" Zero="0" /><!--货叉高度编码器-->
  <ForkDisplacementSencer Function="Z" Signed="false" Is32Bit="false" Magnification="0.00153328981723238" Zero="0" Priority="Secondary" /><!--提升高度测距-->
  <NullSencer Length="2" /><!--货叉前后测距-->
  <ForkDisplacementSencer Function="Y" Signed="false" Is32Bit="true" Magnification="0.00153328981723238" Zero="0" /><!--货叉横移测距-->
  <!--货叉夹抱测距-->
  <ForkDisplacementSencer Function="P" Signed="false" Is32Bit="false" Magnification="0.00153328981723238" Zero="0" /><!--货叉倾角测距-->
  <NullSencer Length="2" /><!--货叉翻滚角度测量-->
  <NullSencer Length="2" /><!--货叉夹抱压力测量-->
  <VoltageDevice Magnification="0.1" Zero="0" DisplayName="电池电压" />
  <CurrentDevice Signed="true" Magnification="0.1" Zero="0" DisplayName="电池电流" />
  <BatterySencer DisplayName="电池电量" />
  <BatteryAttenuation DisplayName="电池衰减次数" />
  <BatteryCapacity DisplayName="电池设计容量" />
  <FullBatteryCapacity DisplayName="电池满电容量" />
  <SurplusBatteryCapacity DisplayName="电池剩余容量" />
  <NullSencer Length="4" />
  <NullSencer Length="4" />
  <DataIndexReturn DisplayName="反馈时间戳" />
  <DataIndex DisplayName="消息序号" />
  <ErrorCode NewErrorCodeEnable="true" DisplayName="错误码" />
  <Gyroscope Magnification="1.745329222e-4" Signed="true" ZeroDrift="0" DisplayName="陀螺仪" />
  <SwitchSencer Length="12" LowLayerStopDelay="250">
    <SwitchSencerValue Stop="0" OriginStop="1" Pause="2" Reset="3" Continue="4" ManualMode="5" AutoMode="6" 
					   LeftBackCollision="8" RightBackCollision="9"  

					   LaserLeftClose="16" LaserLeftBreakdown="19" 
					   LaserRightClose="20" LaserRightBreakdown="23" 

					   LiftButtom="33" 
					   FowardCollision="47" 
					   TouchGoods1="50" TouchGoods2="51" LeftForkConstriction="52" RightForkConstriction="53" 
					   
					   LowLayerStop="64" BrakeStatus="65" HeightCoderError="66" 
					   InChargingArea="67" Charging="68" ChargingSlow="69" ChargeStopped="70" />
    <BitDisplays>
      <BitDisplay Index="0" Text="急停" />
      <BitDisplay Index="1" Text="远程急停" />
      <BitDisplay Index="2" Text="暂停" />
      <BitDisplay Index="3" Text="复位" />
      <BitDisplay Index="4" Text="启动" />
      <BitDisplay Index="5" Text="手动模式" />
      <BitDisplay Index="6" Text="自动模式" />

      <BitDisplay Index="8" Text="左叉尖防护" />
      <BitDisplay Index="9" Text="右叉尖防护" />

	  <BitDisplay Index="16" Text="左激光近距" />
	  <BitDisplay Index="17" Text="左激光中距" />
	  <BitDisplay Index="18" Text="左激光远距" />
	  <BitDisplay Index="19" Text="左激光故障" />
	  <BitDisplay Index="20" Text="右激光近距" />
	  <BitDisplay Index="21" Text="右激光中距" />
	  <BitDisplay Index="22" Text="右激光远距" />
	  <BitDisplay Index="23" Text="右激光故障" />

      <BitDisplay Index="33" Text="货叉下限位" />

      <BitDisplay Index="47" Text="前安全触边" />

      <BitDisplay Index="50" Text="水平到位左" />
      <BitDisplay Index="51" Text="水平到位右" />
      <BitDisplay Index="52" Text="垂直到位左1" />
      <BitDisplay Index="53" Text="垂直到位右1" />

      <BitDisplay Index="64" Text="安全锁定" />
      <BitDisplay Index="65" Text="抱闸" />
      <BitDisplay Index="66" Text="高度初始化失败" />
	  <BitDisplay Index="67" Text="充电到位" />
      <BitDisplay Index="68" Text="电池充电中" />
	  <BitDisplay Index="69" Text="充电低速" />
      <BitDisplay Index="70" Text="充电完成" />

	  <BitDisplay Index="80" Text="原车上电" />

    </BitDisplays>
  </SwitchSencer>
  <Accelerometer Length="2" Function="X" Magnification="0.0098" Signed="true" Zero="0" />
  <Accelerometer Length="2" Function="Y" Magnification="0.0098" Signed="true" Zero="0" />
  <Accelerometer Length="2" Function="Z" Magnification="0.0098" Signed="true" Zero="0" />
  <AngularVelocitySensor Length="2" Function="X" Magnification="0.01" Signed="true" Zero="0" />
  <AngularVelocitySensor Length="2" Function="Y" Magnification="0.01" Signed="true" Zero="0" />
  <AngularVelocitySensor Length="2" Function="Z" Magnification="0.01" Signed="true" Zero="0" />
  <DataCRC />
  <DataTail Length="1" />
</SencerConfigs>