<?xml version="1.0" encoding="utf-8"?>
<SencerConfigs Length="88" DataAdapter="S" Frequency="100" Timeout="15">
  <!--<Hikvision Function="U" SN="00G96834870" AutoExposureTimeAbsLowerLimit="100" AutoExpoFrequency="10" AutoExposureTimeAbsUpperLimit="20000" AutoTargetValue="40" Width="2448" Height="2048" TimerFrequency="9999.324427" DisplayName="上视编号" />-->
  <!--<CodeScaner PortName="Com3" BaudRate="9600">
    <Regex>&lt;RESULT&gt;([&amp;"{}:,;0-9a-zA-Z_]*)&lt;/RESULT&gt;</Regex>
  </CodeScaner>-->
  <DataHeader Length="1" />
  <NullSencer Length="2" />
  <IncrementalSteeringCoder Magnification="-0.000174533" SteeringZero="-64" DisplayName="转向角度反馈" />
  <NullSencer Length="2" />
  <!--<HolzerCoder Magnification="0.000135178" Signed="false" DisplayEnable="true" />
	<NullSencer Length="8" />-->
  <NullSencer Length="2" />
  <WheelCoder Magnification="0.000001" LeftScale="0.500" RightScale="0.5000" WheelBase="1.02" VirtualShaftLength="0.473" />
  <HeightCoder Is32Bit="true" Signed="true" Magnification="1.47201982991899E-06" Zero="-17013" />
  <!--<VirtualIncrementalSteeringCoder Magnification="0.001745329" SteeringZero="0" DisplayEnable="true" DisplayName="虚拟中心角度反馈" />-->
  <NullSencer Length="2" />
  <ForkDisplacementSencer Function="Z" Signed="false" Is32Bit="false" Magnification="0.000277205733898647" Zero="4351" Priority="Secondary">
    <AverageFilter />
  </ForkDisplacementSencer>
  <NullSencer Length="2" />
  <NullSencer Length="2" />
  <!--<ForkDisplacementSencer Function="P" Signed="false" Is32Bit="false" Magnification="0.00153328981723238" Zero="0" />-->
  <NullSencer Length="2" />
  <NullSencer Length="2" />
  <NullSencer Length="2" />
  <!--<HydraulicPressureSensor Is32Bit="false" Magnification="1" Zero="0" DisplayEnable="true" />-->
  <NullSencer Length="2" />
  <HandleMove Magnification="0.00049055678194751" Signed="true" DeadValue="10" Still="0" MaxVelocity="2" MaxBackwardVelocity="1.5" DisplayEnable="false" />
  <SimpleHandleSteering Magnification="-0.00208052493615218" Middle="0" DisplayEnable="false" />
  <HandleDevice Function="Z" Magnification="-7.50938673341677E-05" MaxVelocity="0.12" MinVelocity="-0.12" DeadValue="30" Signed="true" Zero="0" DisplayEnable="false" />
  <ErrorCode DisplayName="错误码" />
  <Gyroscope Magnification="1.745329222e-4" Signed="true" ZeroDrift="0" DisplayName="陀螺仪" />
  <NullSencer Length="2" />
  <!--<NullSencer Length="1" />
  <VelocityControlLevel DisplayName="限速等级" />-->
  <SwitchSencer Length="10" LowLayerStopDelay="250">
    <!--PitchPosLimit="16" PitchNegLimit="17" LeftBackObstacle="22" RightBackObstacle="23" 
	LaserFrontClose="24" LaserFrontMedium="25" LaserFrontFar="26" LaserFrontBreakdown="27" LaserBackClose="28" LaserBackMedium="29" LaserBackFar="30" LaserBackBreakdown="31"
	LaserLeftClose="32" LaserLeftMedium="33" LaserLeftFar="34" LaserLeftBreakdown="35" LaserRightClose="36" LaserRightMedium="37" LaserRightFar="38" LaserRightBreakdown="39"
	GoodsHeight1="44" GoodsHeight2="45" LeftForkConstriction="50" RightForkConstriction="51" -->
    <SwitchSencerValue Stop="0" Pause="1" Reset="2" Continue="3" ManualMode="4" AutoMode="5" MaintenanceMode="6" ChargeStopped="7" LiftTop="8" LiftButtom="9" OverheadObstacle1="20" OverheadObstacle2="21" LeftBackCollision="22" RightBackCollision="23" FowardCollision="40" LeftCollision="41" RightCollision="42" TouchGoods1="48" TouchGoods2="49" UWBPerceptualAlarm="59" LowLayerStop="64" Charging="68" ChargingSlow="69" InChargingArea="70" SteeringCoderError="73" HeightCoderError="74" BrakeStatus="78" />
    <BitDisplays>
      <BitDisplay Index="0" Text="急停按钮" />
      <BitDisplay Index="1" Text="暂停按钮" />
      <BitDisplay Index="2" Text="复位按钮" />
      <BitDisplay Index="3" Text="启动按钮" />
      <BitDisplay Index="4" Text="手动模式" />
      <BitDisplay Index="5" Text="自动模式" />
      <BitDisplay Index="6" Text="维护模式" />
      <BitDisplay Index="7" Text="充电完成" />
      <BitDisplay Index="8" Text="货叉上限位" />
      <BitDisplay Index="9" Text="货叉下限位" />
      <BitDisplay Index="20" Text="高位防护左" />
      <BitDisplay Index="21" Text="高位防护右" />
      <BitDisplay Index="22" Text="左叉尖防护" />
      <BitDisplay Index="23" Text="右叉尖防护" />
      <BitDisplay Index="32" Text="左激光近距" />
      <BitDisplay Index="33" Text="左激光中距" />
      <BitDisplay Index="34" Text="左激光远距" />
      <BitDisplay Index="36" Text="右激光近距" />
      <BitDisplay Index="37" Text="右激光中距" />
      <BitDisplay Index="38" Text="右激光远距" />
      <BitDisplay Index="40" Text="安全触边" />
      <BitDisplay Index="41" Text="左安全触边" />
      <BitDisplay Index="42" Text="右安全触边" />
      <BitDisplay Index="48" Text="水平到位左" />
      <BitDisplay Index="49" Text="水平到位右" />
      <!--BitDisplay Index="50" Text="垂直到位左1" />
      <BitDisplay Index="51" Text="垂直到位右1" /-->
      <!--<BitDisplay Index="59" Text="UWB预警" />-->
      <BitDisplay Index="64" Text="底层安全锁定" />
      <BitDisplay Index="68" Text="电池充电中" />
      <BitDisplay Index="69" Text="充电低速" />
      <BitDisplay Index="70" Text="充电到位" />
      <BitDisplay Index="73" Text="舵角初始化失败" />
      <BitDisplay Index="74" Text="高度初始化失败" />
      <BitDisplay Index="78" Text="抱闸" />
    </BitDisplays>
  </SwitchSencer>
  <VoltageDevice Zero="0" Magnification="0.0152" DisplayName="电压" />
  <CurrentDevice Zero="-400" Signed="true" Magnification="0.1" DisplayName="电流" />
  <BatterySencer DisplayName="电量" />
  <ImageIndex Function="U" Length="4" DisplayName="上视图像" />
  <NullSencer Length="4" />
  <DataIndexReturn DisplayName="反馈时间戳" />
  <DataIndex DisplayName="消息序号" />
  <DataCRC />
  <DataTail Length="1" />
</SencerConfigs>
