<?xml version="1.0" encoding="utf-8"?>
<SencerConfigs Length="97" DataAdapter="Ncom1@115200" Frequency="100" Timeout="15">
  <CodeScaner PortName="Com4" BaudRate="9600" 
  Start="LON
" Stop="LOFF
">
  <Regex>([&amp;&quot;{}:,;0-9a-zA-Z_]*)</Regex>
 </CodeScaner>
  <CodeScaner PortName="Com3" BaudRate="9600" 
  Start="LON
" Stop="LOFF
">
  <Regex>([&amp;&quot;{}:,;0-9a-zA-Z_]*)</Regex>
 </CodeScaner>
   <CodeScaner PortName="Com5" BaudRate="9600" 
  Start="LON
" Stop="LOFF
">
  <Regex>([&amp;&quot;{}:,;0-9a-zA-Z_]*)</Regex>
 </CodeScaner>
  <!--扫码枪-->
  <Hikvision Function="TOF" SN="DA0849940" AutoExposureTimeAbsLowerLimit="100" AutoExpoFrequency="10" AutoExposureTimeAbsUpperLimit="7000" AutoTargetValue="40" Width="2448" Height="2048" TimerFrequency="9999.324427" DisplayName="TOF编号" />
  <MultiLidarSensor LogArgEnable="false" TimeOut="12" />
  <DataHeader Length="1" />
  <VelocityControlLevel DisplayName="限速等级" />
  <WheelCoder Magnification="0.000119084485824131" LeftScale="0.5" WheelBase="1.152131508674091" RightScale="0.5" UseRPM="true" />
  <!--E35专用-->
  <IncrementalSteeringCoder Function="LF" Magnification="0.000174533" SteeringZero="-45" DisplayName="转向角度反馈" />
  <IncrementalSteeringCoder Function="RF" Magnification="0.000174533" SteeringZero="-45" DisplayName="转向角度反馈" />
  <HeightCoder Is32Bit="true" Signed="true" Magnification="3.85448715939937E-05" Zero="-642" />
  <!--货叉高度编码器-->
  <ForkDisplacementSencer Function="Y" Signed="false" Is32Bit="true" Magnification="8.9784442361762E-06" Zero="49671121" />
  <!--货叉横移测距-->
  <ForkDisplacementSencer Function="P" Signed="false" Is32Bit="false" Magnification="-1.69300015625552E-05" Zero="14464" />
  <!--货叉倾角测距-->
  <ForkDisplacementSencer Function="RC" Signed="false" Is32Bit="true" Magnification="9.10635992632183E-06" Zero="33603598" />
  <!--货叉夹抱测距-->
  <!--066项目为货叉右夹抱测距-->
  <ForkDisplacementSencer Function="LC" Signed="false" Is32Bit="true" Magnification="9.13993935449678E-06" Zero="5992378" />
  <!--货叉夹抱测距-->
  <!--066项目为货叉左夹抱测距-->
  <VoltageDevice Magnification="0.1" Zero="0" DisplayName="电池电压" />
  <CurrentDevice Signed="true" Magnification="0.1" Zero="0" DisplayName="电池电流" />
  <BatterySencer DisplayName="电池电量" />
  <BatteryAttenuation DisplayName="电池衰减次数" />
  <BatteryCapacity DisplayName="电池设计容量" />
  <FullBatteryCapacity DisplayName="电池满电容量" />
  <SurplusBatteryCapacity DisplayName="电池剩余容量" />
  <NullSencer Length="4" />
  <NullSencer Length="4" />
  <DataIndexReturn DisplayName="反馈时间戳" />
  <DataIndex DisplayName="消息序号" />
  <ErrorCode NewErrorCodeEnable="true" DisplayName="错误码" />
  <Gyroscope Magnification="1.745329222e-4" Signed="true" ZeroDrift="0" DisplayName="陀螺仪" />
  <SwitchSencer Length="12" LowLayerStopDelay="250">
    <SwitchSencerValue Stop="0" OriginStop="1" Pause="2" Reset="3" Continue="4" ManualMode="5" AutoMode="6" LeftBackObstacle2="10" RightBackObstacle2="11" LaserLeftClose="20" LaserLeftBreakdown="23" LaserRightClose="24" LaserRightBreakdown="27" LiftButtom="33" LeftBackObstacle="42" RightBackObstacle="43" FowardCollision="47" TouchGoods3="50" TouchGoods4="51" LeftFork2Constriction="52" RightFork2Constriction="53" TouchGoods1="56" TouchGoods2="57" LeftForkConstriction="58" RightForkConstriction="59" LowLayerStop="64" BrakeStatus="65" HeightCoderError="66" InChargingArea="67" Charging="68" ChargingSlow="69" ChargeStopped="70" />
    <BitDisplays>
      <BitDisplay Index="0" Text="急停" />
      <BitDisplay Index="1" Text="远程急停" />
      <BitDisplay Index="2" Text="暂停" />
      <BitDisplay Index="3" Text="复位" />
      <BitDisplay Index="4" Text="启动" />
      <BitDisplay Index="5" Text="手动模式" />
      <BitDisplay Index="6" Text="自动模式" />
      <BitDisplay Index="10" Text="左叉尖光电2" />
      <BitDisplay Index="11" Text="右叉尖光电2" />
      <BitDisplay Index="20" Text="左激光近距" />
      <BitDisplay Index="21" Text="左激光中距" />
      <BitDisplay Index="22" Text="左激光远距" />
      <BitDisplay Index="23" Text="左激光故障" />
      <BitDisplay Index="24" Text="右激光近距" />
      <BitDisplay Index="25" Text="右激光中距" />
      <BitDisplay Index="26" Text="右激光远距" />
      <BitDisplay Index="27" Text="右激光故障" />
      <BitDisplay Index="33" Text="货叉下限位" />
      <BitDisplay Index="42" Text="左叉尖光电" />
      <!--066项目为左外货叉叉尖光电-->
      <BitDisplay Index="43" Text="右叉尖光电" />
      <!--066项目为右外货叉叉尖光电-->
      <BitDisplay Index="47" Text="前安全触边" />
      <BitDisplay Index="50" Text="水平到位左2" />
      <BitDisplay Index="51" Text="水平到位右2" />
      <BitDisplay Index="52" Text="垂直到位左2" />
      <BitDisplay Index="53" Text="垂直到位右2" />
      <BitDisplay Index="56" Text="水平到位左" />
      <!--066项目为左外货叉水平到位-->
      <BitDisplay Index="57" Text="水平到位右" />
      <!--066项目为右外货叉水平到位-->
      <BitDisplay Index="58" Text="垂直到位左1" />
      <!--066项目为左外货叉垂直到位-->
      <BitDisplay Index="59" Text="垂直到位右1" />
      <!--066项目为右外货叉垂直到位-->
      <BitDisplay Index="64" Text="安全锁定" />
      <BitDisplay Index="65" Text="抱闸" />
      <BitDisplay Index="66" Text="高度初始化失败" />
      <BitDisplay Index="67" Text="充电到位" />
      <BitDisplay Index="68" Text="电池充电中" />
      <BitDisplay Index="69" Text="充电低速" />
      <BitDisplay Index="70" Text="充电完成" />
      <BitDisplay Index="80" Text="原车上电" />
    </BitDisplays>
  </SwitchSencer>
  <Accelerometer Length="2" Function="X" Magnification="0.0098" Signed="true" Zero="0" />
  <Accelerometer Length="2" Function="Y" Magnification="0.0098" Signed="true" Zero="0" />
  <Accelerometer Length="2" Function="Z" Magnification="0.0098" Signed="true" Zero="0" />
  <AngularVelocitySensor Length="2" Function="X" Magnification="0.01" Signed="true" Zero="0" />
  <AngularVelocitySensor Length="2" Function="Y" Magnification="0.01" Signed="true" Zero="0" />
  <AngularVelocitySensor Length="2" Function="Z" Magnification="0.01" Signed="true" Zero="0" />
  <DataCRC />
  <DataTail Length="1" />
</SencerConfigs>